$body-bg: #E5EAEC;

$info: #67BDFF;
$success: #3EDE63;
$blue: #67BDFF;
$purple: #B57DFF;
$green: #3EDE63;
$red: #F16464;
$yellow: #FFBD67;
$pink: #FF82CD;

$font-family-sans-serif: 'Nunito Sans', sans-serif;

// $colors: (
//     "blue":       $blue,
//     "indigo":     $indigo,
//     "purple":     $purple,
//     "pink":       $pink,
//     "red":        $red,
//     "orange":     $orange,
//     "yellow":     $yellow,
//     "green":      $green,
//     "teal":       $teal,
//     "cyan":       $cyan,
//     "white":      $white,
//     "gray":       $gray-600,
//     "gray-dark":  $gray-800
// );